.container{
    display: grid;
    justify-items: center;
}

header{
    background-color: black;
    color:white;
    width:100%;
    margin: 10px;
}

h1 {   
    text-align: center;
    margin: 0ch;
    padding: 5px;
}

.down{
    border: 1px solid black;
}

.values{
    display: grid;
    justify-items: center;
}

.numberInput{
    display: inline;
    justify-content: center;

}

input{
    margin: 0 0.5rem;
    width: 6rem;
    height: 3rem;
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.changeInput {
    background-color: red;
}

h2{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    width: 90%;
}

h3{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

#result{
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    text-decoration-line: underline;
    width: 80%;
}

.buttons{
    display: grid;
    justify-items: center;
    align-self: center;
    grid-column-gap: 50px;
    margin-bottom: 1rem;
}

.btn{
    height: 5rem;
    width: 5rem;
    background: #000;
    margin: 1px;
    size: 50px;
    color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 100px;
    cursor: pointer;
}

